<style>
<!--
	BODY, TD {font-family : Verdana;
		font-size :10pt;		
		}		
	A {color:#663333;		
		font-size :10pt; 
		text-decoration : none;
		font-weight:bold;}
	A:visited {color:#663333;	
		text-decoration : none;}
	A:hover {color:#993333; 
		text-decoration : none;}	
		
	.headerlink {color:#ffffff;		
		font-size :8pt; 
		text-decoration : none;
		font-weight:bold;}
	.headerlink:visited {color:#ffffff;	
		text-decoration : none;}
	.headerlink:hover {color:#ffff99; 
		text-decoration : none;}	
		
	.tips{font-family : Verdana;
		font-size :10pt;
		font-weight:bold;
		}	
	.whiteheading {color:#ffff99; 
		text-decoration : none;
		font-size :10pt; 
		font-family : Verdana;
		font-weight:bold;}	
	.quote {color:#663333;
		text-decoration : none;
		font-size :8pt; 
		font-family : Verdana;
		font-weight:bold;		
		}	
	.footnote {
		text-decoration : none;
		font-size :8pt; 
		font-family : Verdana;
		font-weight:normal;  }	
	.copyright {
		color:#ffffee;
		text-decoration : none;
		font-size :8pt; 
		font-family : Verdana;
		font-weight:normal;  }	
	.brownheading {color:#800000; 
		text-decoration : none;
		font-size :10pt; 
		font-family : Verdana;
		font-weight:bold;}	
	
		-->
	</style>


		 